<!DOCTYPE html>
<html class="min-h-full" lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{% block title %}AFUP - Antennes{% endblock %}</title>

        {% block favicon %}
            <link rel="icon" href="{{ asset('logos/afup.svg') }}" sizes="any" type="image/svg+xml">
        {% endblock %}

        {% block head %}{% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <div style="background-image: url({{ asset('img/bg.png') }})">

        <div class="min-h-screen flex flex-col backdrop-blur-sm">

            {% block body %}{% endblock %}

        </div>

    </div>
    </body>
</html>
