<a {{ attributes }}
    href="{{ url }}"
    class="block static cursor-pointer items-center text-center text-lg rounded-xl border-2 border-slate-700 bg-slate-100 text-black shadow px-4 py-3 hover:bg-sky-300 transition">
    {% if icon is defined %}
        <twig:ux:icon name="{{ icon }}" class="h-7 block absolute" />
    {% endif %}
    <span>{% block content %}{% endblock %}</span>
</a>
